In [ ]:
import os
# Find the latest version of spark 3.0 from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.2.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:10 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:14 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [22.8 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [1,013 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,521 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,297 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,866 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,298 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [29.8 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [1,047 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-backports/main amd64 Packages [12.2 kB]
Fetched 12.4 MB in 6s (2,135 kB/s)
Reading package lists... Done

In [ ]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2022-06-24 04:45:14--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  1.22MB/s    in 0.8s

2022-06-24 04:45:16 (1.22 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("census_data_2000s").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [ ]:
from pyspark import SparkFiles
url = "https://pollution-sight-data.s3.us-west-1.amazonaws.com/census_data_2000s.csv"
spark.sparkContext.addFile(url)
census_2000s_df = spark.read.csv(SparkFiles.get("census_data_2000s.csv"), header=True, inferSchema=True)
census_2000s_df.show()

+-------------------+-------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+
|               NAME| STNAME|POPESTIMATE2000|POPESTIMATE2001|POPESTIMATE2002|POPESTIMATE2003|POPESTIMATE2004|POPESTIMATE2005|POPESTIMATE2006|POPESTIMATE2007|POPESTIMATE2008|POPESTIMATE2009|POPESTIMATE2010|
+-------------------+-------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+
|            Alabama|Alabama|        4452173|        4467634|        4480089|        4503491|        4530729|        4569805|        4628981|        4672840|        4718206|        4757938|        4785298|
|     Abbeville city|Alabama|           2985|           2941|           2909|           2882|           2857|           2820|           2807|           2784|           2742|           2714|           2689|
|    Adamsville city|Alabama|           5021|           4960|           4894|           4841|           4784|           4728|           4687|           4633|           4594|           4558|           4523|
|       Addison town|Alabama|            701|            701|            708|            714|            722|            729|            741|            750|            752|            759|            755|
|         Akron town|Alabama|            485|            473|            454|            442|            426|            416|            404|            395|            384|            369|            355|
|     Alabaster city|Alabama|          24116|          24674|          25223|          25957|          26739|          27504|          28462|          29020|          29630|          30107|          30468|
|   Albertville city|Alabama|          17440|          17601|          17948|          18294|          18608|          19051|          19565|          20014|          20482|          20875|          21209|
|Alexander City city|Alabama|          15090|          14964|          14812|          14738|          14721|          14685|          14804|          14848|          14922|          14964|          14839|
|    Aliceville city|Alabama|           2624|           2623|           2619|           2581|           2563|           2540|           2532|           2515|           2511|           2494|           2481|
|       Allgood town|Alabama|            661|            658|            655|            654|            650|            645|            643|            641|            638|            631|            622|
|       Altoona town|Alabama|            969|            962|            956|            952|            947|            945|            942|            942|            939|            934|            933|
|     Andalusia city|Alabama|           9098|           8979|           8925|           8901|           8874|           8953|           8994|           9024|           8989|           8999|           9018|
|      Anderson town|Alabama|            326|            319|            312|            307|            303|            299|            296|            293|            290|            286|            282|
|      Anniston city|Alabama|          24148|          23915|          23717|          23687|          23603|          23553|          23470|          23360|          23313|          23262|          23094|
|          Arab city|Alabama|           7430|           7401|           7453|           7503|           7540|           7631|           7747|           7839|           7934|           8004|           8069|
|       Ardmore town|Alabama|           1035|           1039|           1039|           1042|           1050|           1066|           1092|           1119|           1148|           1179|           1200|
|          Argo town|Alabama|           2210|           2370|           2532|           2692|           2876|           3075|           3328|           3587|           3780|           3968|           4079|
|        Ariton town|Alabama|            781|            780|            778|            772|            769|            763|            760|            762|            765|            761|            766|
|         Arley town|Alabama|            518|            497|            481|            465|            450|            435|            422|            407|            388|            372|            356|
|       Ashford town|Alabama|           1842|           1858|           1872|           1905|           1936|           1967|           2012|           2056|           2091|           2123|           2155|
+-------------------+-------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+
only showing top 20 rows

In [ ]:
census_2000s_df.printSchema()

root
 |-- NAME: string (nullable = true)
 |-- STNAME: string (nullable = true)
 |-- POPESTIMATE2000: integer (nullable = true)
 |-- POPESTIMATE2001: integer (nullable = true)
 |-- POPESTIMATE2002: integer (nullable = true)
 |-- POPESTIMATE2003: integer (nullable = true)
 |-- POPESTIMATE2004: integer (nullable = true)
 |-- POPESTIMATE2005: integer (nullable = true)
 |-- POPESTIMATE2006: integer (nullable = true)
 |-- POPESTIMATE2007: integer (nullable = true)
 |-- POPESTIMATE2008: integer (nullable = true)
 |-- POPESTIMATE2009: integer (nullable = true)
 |-- POPESTIMATE2010: integer (nullable = true)

In [ ]:
# Connect to AWS RDS instance
# Store environmental variable
from getpass import getpass
password = getpass('Enter database password')

# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://<connection_string>:5432/<database_name>"
config = {"user":"postgres", 
          "password": password, 
          "driver":"org.postgresql.Driver"}

Enter database password··········

In [ ]:
# Write census_2000s_df to table in RDS
census_2000s_df.write.jdbc(url=jdbc_url, table='census_data_2000s', mode=mode, properties=config)